<div>
    <div class="widget category-list" *ngIf="locationFilters" >
        <h4 class="widget-header">Nearby in {{locationFilters[0].org.address.city}}</h4>
        <ul class="category-list">

          <li *ngFor="let location of locationFilters"><mdb-checkbox [default]="true">{{location.org.address.street}} </mdb-checkbox></li>
       
        </ul>
      </div>
    <div class="category-sidebar">
      <div class="widget category-list">
        <h4 class="widget-header">Category</h4>
        <ul class="category-list">
          <li *ngFor="let subcat of categoryDetails.subcategory"><mdb-checkbox [default]="true">{{subcat.tittle}}</mdb-checkbox> </li>
        </ul>
      </div>



<div class="widget filter">
<h4 class="widget-header">Show Produts</h4>
  <select>
    <option>Popularity</option>
    <option value="1">Top rated</option>
    <option value="2">Lowest Price</option>
    <option value="4">Highest Price</option>
  </select>
</div>

  <div class="widget price-range">
    <h4 class="widget-header">Price Range</h4>
    <div class="block">
    <b>$10</b>
    <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> 
    <b>$5000</b>
    </div>
  </div>


  </div>
</div>