.searchBtn{
    margin: 0px;
    height: 40px;
    text-transform: capitalize;
    padding-top: 9px;
}
#navbarSupportedContent .form-control{
    height: 40px !important;
  }
#navbarSupportedContent .form-group{
    padding-top: 4px;
    margin-bottom: 8px;
}
