<section class="bg-gray">
	<!-- Container Start -->
	<div class="container" *ngIf="product">
		<div class="row">
			<!-- Left sidebar -->
			<div class="col-md-8">
				<div class="product-details">
					<h1 class="product-title">{{product.title}}</h1>
					<div class="product-meta">
						<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-user-o"></i> By <a  [routerLink]="['/seller']" [queryParams]="{orgname:product.orgname, orgid:product.orgid}" >{{product.orgname}}</a></li>
							<li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Category<a href="">{{categoryNameMap[product.subcategory]}}</a></li>
							<li *ngIf="product.distance" class="list-inline-item"><i class="fa fa-location-arrow"></i> Location<a routerLink=""> {{product.distance}} Km away</a></li>
						</ul>
					</div>
					<div id="carouselExampleIndicators" class="product-slider carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators" data-slide-to="{{i}}"(mouseenter) ="selected=i" *ngFor="let image of product.image; let i = index"  [ngClass]="{'active' : i==selected}" ></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item product-image"  *ngFor="let image of product.image; let i = index"  [ngClass]="{'active' : i == selected }">
								<img class="d-block w-80" src="{{image}}" style="height: 400px;" alt="product.title">
							</div>
							
						</div>
						<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<div class="content">
					<!--	<ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Product Details</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Specifications</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Reviews</a>
							</li>
						</ul> -->
						<div class="tab-content">
							<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
								<h3 class="tab-title">Product Highlights</h3>
								<p *ngFor="let highlight of product.highlights; let i = index" > {{i+1}}. {{highlight}}</p>

								<iframe *ngIf="product.videourl" width="100%" height="400" src="https://www.youtube.com/embed/LUH7njvhydE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
								<p></p>
								<p>{{product.shortdesc}}</p>
							</div>
							<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
								<h3 class="tab-title">Product Specifications</h3>
								<table class="table table-bordered product-table">
								  <tbody>
								    <tr>
								      <td>Seller Price</td>
								      <td>$450</td>
								    </tr>
								    <tr>
								      <td>Added</td>
								      <td>26th December</td>
								    </tr>
								    <tr>
								      <td>State</td>
								      <td>Dhaka</td>
								    </tr>
								    <tr>
								      <td>Brand</td>
								      <td>Apple</td>
								    </tr>
								    <tr>
								      <td>Condition</td>
								      <td>Used</td>
								    </tr>
								    <tr>
								      <td>Model</td>
								      <td>2017</td>
								    </tr>
								    <tr>
								      <td>State</td>
								      <td>Dhaka</td>
								    </tr>
								    <tr>
								      <td>Battery Life</td>
								      <td>23</td>
								    </tr>
								  </tbody>
								</table>
							</div>
							<div  *ngIf="product.reviews" class="tab-pane fade show active" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
								<h3 class="tab-title">Product Review</h3>
								<div  *ngFor="let review of product.reviews; let i = index">
									<div class="product-review" *ngIf="review.review">
							  		<div class="media" >
										  <!-- Avater -->

							  			<div class="media-body">
							  				<!-- Ratings -->
							  				<div class="ratings">
							  					<ul class="list-inline">
							  						<li class="list-inline-item">
							  							<i class="fa fa-star"></i>
							  						</li>
							  						<li class="list-inline-item">
							  							<i class="fa fa-star"></i>
							  						</li>
							  						<li class="list-inline-item">
							  							<i class="fa fa-star"></i>
							  						</li>
							  						<li class="list-inline-item">
							  							<i class="fa fa-star"></i>
							  						</li>
							  						<li class="list-inline-item">
							  							<i class="fa fa-star"></i>
							  						</li>
							  					</ul>
							  				</div>
							  				<div class="name">
							  					<h5>{{review.heading}}</h5>
							  				</div>
							  				<div class="date">
							  					<span>{{review.time}}</span> , <span>{{review.user}}</span>
							  				</div>
							  				<div class="review-comment">
							  					<p>
							  						{{review.review}}
							  					</p>
							  				</div>
							  			</div>
							  		</div>
							  		
								  	</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar">
						<div class="widget map">
								<h5 class="widget-header">{{productDetails.length}} seller(s) found</h5>
							<!--	<div class="btn-group" mdbDropdown>
										<button mdbDropdownToggle type="button" mdbBtn color="info" class="dropdown-toggle waves-light" mdbWavesEffect>
												{{product.orgname}}
										</button>
								
										<div class="dropdown-menu dropdown-primary">
											<a class="dropdown-item" href="/details?id={{seller.id}}"  *ngFor="let seller of productDetails; let i = index">{{seller.orgname}}</a>
										</div>
									</div>
								-->
								<agm-map [latitude]="product.lat" [longitude]="product.lon"  style="height: 200px" >
									<agm-marker *ngFor="let seller of productDetails; let i = index"
									 [latitude]="seller.lat" [longitude]="seller.lon">
										<agm-info-window [disableAutoPan]="true" #infoWindow>

											<div>
												 <span class="green-text"> <b>₹ {{calculatePrice(seller)}} </b> </span> | {{seller.orgname}} ,
											</div>
											<div *ngIf="seller.distance">
												{{seller.distance}} Km away
											</div>
											<div>
												<a (click)="onClickInfoView({orgid:seller.orgid})" >Select </a>
											</div>
								
										</agm-info-window>
									</agm-marker>
								</agm-map>		
		
						</div>
					<div class="widget text-center" style="background:#333" *ngIf="product.price">
						<!--<h4>Price</h4> -->
						<h4> <span class="text-white" >₹ {{calculatePrice(product)}} </span></h4>
						<div *ngIf="product.offer"> <span class="yellow-text" style="text-decoration: line-through;padding-right: 10px">₹ {{product.price}}</span> <span class="green-text" > {{product.offer}}% off</span> </div>
						<button mdbBtn type="button" class="waves-light add-button" mdbWavesEffect>Buy now</button>
						<button mdbBtn type="button" color="warning" class="waves-light" mdbWavesEffect>Add to Cart</button>
						
					</div>
					<!-- User Profile widget 
					<div class="widget user">
						<img class="rounded-circle" src="assets/images/user/user-thumb.jpg" alt="">
						<h4><a href="">{{product.orgname}}</a></h4>
						<p class="member-time">Member Since Jun 27, 2017</p>
						<a href="">See all ads</a>
						<ul class="list-inline mt-20">
							<li class="list-inline-item"><a href="" class="btn btn-contact">Contact</a></li>
							<li class="list-inline-item"><a href="" class="btn btn-offer">Make an offer</a></li>
						</ul>
					</div> -->
					<!-- Map Widget -->
			
				
					<!-- Rate Widget -->
					<div class="widget rate">
						<!-- Heading -->
						
						<h5  class="widget-header text-center"> {{product.rating}}
								<ul class="list-inline" *ngIf="!product.rating">
										<li class="list-inline-item selected"><mdb-icon icon="star-o"></mdb-icon></li>
										<li class="list-inline-item selected"><mdb-icon icon="star-o"></mdb-icon></li>
										<li class="list-inline-item selected"><mdb-icon icon="star-o"></mdb-icon></li>
										<li class="list-inline-item selected"><mdb-icon icon="star-o"></mdb-icon></li>
										<li class="list-inline-item selected"><mdb-icon icon="star-o"></mdb-icon></li>	
								</ul>
								<ul class="list-inline" *ngIf="product.rating">
										<li class="list-inline-item selected">
											<mdb-icon *ngIf="product.rating == 0 || product.rating ==''" icon="star-o"></mdb-icon> 
											<mdb-icon *ngIf="product.rating > 1 || product.rating==1" icon="star"></mdb-icon> 
											<mdb-icon *ngIf="product.rating > 0 && product.rating <1" icon="star-half-o"></mdb-icon> 
										</li>
										<li class="list-inline-item selected">
												<mdb-icon *ngIf="product.rating == 0 || product.rating ==''  || product.rating <= 1" icon="star-o"></mdb-icon> 
												<mdb-icon *ngIf="product.rating > 2 || product.rating==2" icon="star"></mdb-icon> 
												<mdb-icon *ngIf="product.rating > 1 && product.rating <2" icon="star-half-o"></mdb-icon> 
										</li>
										<li class="list-inline-item selected">
												<mdb-icon *ngIf="product.rating == 0 || product.rating =='' || product.rating <= 2" icon="star-o"></mdb-icon> 
												<mdb-icon *ngIf="product.rating > 3 || product.rating==3" icon="star"></mdb-icon> 
												<mdb-icon *ngIf="product.rating > 2 && product.rating <3" icon="star-half-o"></mdb-icon> 
										</li>
										<li class="list-inline-item selected">
												<mdb-icon *ngIf="product.rating == 0 || product.rating =='' || product.rating <= 3" icon="star-o"></mdb-icon> 
												<mdb-icon *ngIf="product.rating > 4 || product.rating==4" icon="star"></mdb-icon> 
												<mdb-icon *ngIf="product.rating > 3 && product.rating <4" icon="star-half-o"></mdb-icon> 
										</li>
										<li class="list-inline-item selected">
												<mdb-icon *ngIf="product.rating == 0 || product.rating =='' || product.rating <= 4" icon="star-o"></mdb-icon> 
												<mdb-icon *ngIf="product.rating > 5 || product.rating==5" icon="star"></mdb-icon> 
												<mdb-icon *ngIf="product.rating > 4 && product.rating <5" icon="star-half-o"></mdb-icon> 
										</li>
									</ul>
									
						</h5>
						<!-- Rate -->
						<div class="starrr">

							<h4 *ngIf="product.reviews"><span>{{product.reviews.length}} ratings</span> & <span>{{getReviewsLength(product.reviews)}}</span></h4>
							<div *ngIf="!product.rating">
									No reviews & ratings yet
							</div>
						</div>
					</div>
					<!-- Safety tips widget -->
					<div class="widget disclaimer">
						<h5 class="widget-header">Safety Tips</h5>
						<ul>
							<li>Meet seller at a public place</li>
							<li>Check the item before you buy</li>
							<li>Pay only after collecting the item</li>
							<li>Pay only after collecting the item</li>
						</ul>
					</div>
					<!-- Coupon Widget -->
					<div class="widget coupon text-center">
						<!-- Coupon description -->
						<p>Have a great product to post ? Share it with
							your fellow users.
						</p>
						<!-- Submii button -->
						<a routerLink="" class="btn btn-transparent-white">Submit Listing</a>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<!-- Container End -->
</section>