<section class="bg-gray" >
	<!-- Container Start -->
	<div class="container" *ngIf="seller.orgname">
		<div class="row">
			<!-- Left sidebar -->
			<div class="col-md-8">
				<div class="product-details">
					<h1 class="product-title">{{seller.orgname}}</h1>
					<div class="product-meta">
						<ul class="list-inline">
							<li class="list-inline-item" *ngIf="seller.rating">{{seller.rating}} <i class="fa fa-star"></i> </li>
							<li class="list-inline-item" *ngIf="!seller.rating"><i class="fa fa-star"></i> No ratings yet</li>
							<li class="list-inline-item"><i class="fa fa-folder-open-o"></i>Open 7am to 10pm </li>
							<li *ngIf="seller.distance" class="list-inline-item"><i class="fa fa-location-arrow"></i> Location<a href="">  Km away</a></li>
						</ul>
					</div>
					<div id="carouselExampleIndicators" class="product-slider carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators" data-slide-to="{{i}}"(mouseenter) ="selected=i" *ngFor="let image of seller.images; let i = index"  [ngClass]="{'active' : i==selected}" ></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item product-image"  *ngFor="let image of seller.images; let i = index"  [ngClass]="{'active' : i == selected }">
								<img class="d-block w-80" src="{{image}}" style="height: 400px;" alt="First slide">
							</div>
							
						</div>
						<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<div class="content">
						<ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link" [ngClass]="{'active' : 0 == selectedTab }" (click)="selectedTab=0" id="pills-home-tab" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">Seller Details</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" [ngClass]="{'active' : 1 == selectedTab }" (click)="selectedTab=1" id="pills-profile-tab" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false">Products</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" [ngClass]="{'active' : 2 == selectedTab }" (click)="selectedTab=2" id="pills-contact-tab" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">Reviews</a>
							</li>
						</ul> 
						<div class="tab-content">
							<div class="tab-pane fade" id="pills-home"  [ngClass]="{'show active' : 1 == selectedTab }" role="tabpanel" aria-labelledby="pills-home-tab">
								<h3 class="tab-title">Products <span  *ngIf="seller.products">({{seller.products.length}})</span></h3>
								<div class="product-grid-list"  *ngIf="seller.products">
									<div class="row mt-30">
									
									<div class="col-sm-12 col-lg-4 col-md-6"  *ngFor="let pro of seller.products" >
																		<!-- product card -->
											<div class="product-item bg-light">
												<div class="card">
													<div class="thumb-content" *ngIf="pro.image">
														 <div class="price" *ngIf="pro.offer">{{pro.offer}} % off</div> 
														<a href="/details?id={{pro.id}}">
															<img class="card-img-top img-fluid" src="{{pro.image[0]}}" alt="{{pro.title}}" style="height:200px; width:75%;margin-top: 20px;margin-left: 30px;">
														</a>
													</div>
													<div class="card-body">
														<h4 class="card-title"><a href="/details?id={{pro.id}}">{{pro.title}}</a></h4>
														<ul class="list-inline product-meta">
															<li class="list-inline-item">
																<a href=""><i class="fa fa-folder-open-o"></i>{{categoryNameMap[pro.subcategory]}}</a>
															</li>
															<li class="list-inline-item">
																<mdb-icon icon="rupee"></mdb-icon> <b> {{calculatePrice(pro)}} </b>
															</li>
														</ul>
														<!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!</p> -->
														<div class="product-ratings">
															<!-- <ul class="list-inline" *ngIf="!pro.rating">
																	<li class="list-inline-item selected"><mdb-icon icon="star-o"></mdb-icon></li>
																	<li class="list-inline-item selected"><mdb-icon icon="star-o"></mdb-icon></li>
																	<li class="list-inline-item selected"><mdb-icon icon="star-o"></mdb-icon></li>
																	<li class="list-inline-item selected"><mdb-icon icon="star-o"></mdb-icon></li>
																	<li class="list-inline-item selected"><mdb-icon icon="star-o"></mdb-icon></li>	
															</ul>-->
															<ul class="list-inline" *ngIf="pro.rating">
																	<li class="list-inline-item selected" >
																		<mdb-icon *ngIf="pro.rating == 0 || pro.rating ==''" icon="star-o"></mdb-icon> 
																		<mdb-icon *ngIf="pro.rating > 1 || pro.rating==1" icon="star"></mdb-icon> 
																		<mdb-icon *ngIf="pro.rating > 0 && pro.rating <1" icon="star-half-o"></mdb-icon> 
																	</li>
																	<li class="list-inline-item selected">
																			<mdb-icon *ngIf="pro.rating == 0 || pro.rating ==''  || pro.rating <= 1" icon="star-o"></mdb-icon> 
																			<mdb-icon *ngIf="pro.rating > 2 || pro.rating==2" icon="star"></mdb-icon> 
																			<mdb-icon *ngIf="pro.rating > 1 && pro.rating <2" icon="star-half-o"></mdb-icon> 
																	</li>
																	<li class="list-inline-item selected">
																			<mdb-icon *ngIf="pro.rating == 0 || pro.rating =='' || pro.rating <= 2" icon="star-o"></mdb-icon> 
																			<mdb-icon *ngIf="pro.rating > 3 || pro.rating==3" icon="star"></mdb-icon> 
																			<mdb-icon *ngIf="pro.rating > 2 && pro.rating <3" icon="star-half-o"></mdb-icon> 
																	</li>
																	<li class="list-inline-item selected">
																			<mdb-icon *ngIf="pro.rating == 0 || pro.rating =='' || pro.rating <= 3" icon="star-o"></mdb-icon> 
																			<mdb-icon *ngIf="pro.rating > 4 || pro.rating==4" icon="star"></mdb-icon> 
																			<mdb-icon *ngIf="pro.rating > 3 && pro.rating <4" icon="star-half-o"></mdb-icon> 
																	</li>
																	<li class="list-inline-item selected">
																			<mdb-icon *ngIf="pro.rating == 0 || pro.rating =='' || pro.rating <= 4" icon="star-o"></mdb-icon> 
																			<mdb-icon *ngIf="pro.rating==5" icon="star"></mdb-icon> 
																			<mdb-icon *ngIf="pro.rating > 4 && pro.rating <5" icon="star-half-o"></mdb-icon> 
																	</li>
																	<li *ngIf="pro.rating" class="list-inline-item selected">{{pro.rating}} ({{pro.reviews.length}} ratings)</li>
																</ul>
														</div>
													</div>
												</div>
											</div>
				
				
				
										</div>
										
									</div>
								</div>
							
							
							
							
							
							
							
							</div>
							<div class="tab-pane fade"  [ngClass]="{'show active' : 0 == selectedTab }"  id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
								<h3 class="tab-title">Product Specifications</h3>
								<table class="table table-bordered product-table">
								  <tbody>
								    <tr>
								      <td>Seller Price</td>
								      <td>$450</td>
								    </tr>
								    <tr>
								      <td>Added</td>
								      <td>26th December</td>
								    </tr>
								    <tr>
								      <td>State</td>
								      <td>Dhaka</td>
								    </tr>
								    <tr>
								      <td>Brand</td>
								      <td>Apple</td>
								    </tr>
								    <tr>
								      <td>Condition</td>
								      <td>Used</td>
								    </tr>
								    <tr>
								      <td>Model</td>
								      <td>2017</td>
								    </tr>
								    <tr>
								      <td>State</td>
								      <td>Dhaka</td>
								    </tr>
								    <tr>
								      <td>Battery Life</td>
								      <td>23</td>
								    </tr>
								  </tbody>
								</table>
							</div>
							<div class="tab-pane fade" [ngClass]="{'show active' : 2 == selectedTab }" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
								<h3 class="tab-title">Product Review</h3>
								<div  *ngFor="let review of seller.reviews; let i = index">
									<div class="product-review" *ngIf="review.review">
							  		<div class="media" >
										  <!-- Avater -->

							  			<div class="media-body">
							  				<!-- Ratings -->
							  				<div class="ratings">
												<ul class="list-inline" *ngIf="review.rating">
													<li class="list-inline-item selected">
														<mdb-icon *ngIf="review.rating == 0 || review.rating ==''" icon="star-o"></mdb-icon> 
														<mdb-icon *ngIf="review.rating > 1 || review.rating==1" icon="star"></mdb-icon> 
														<mdb-icon *ngIf="review.rating > 0 && review.rating <1" icon="star-half-o"></mdb-icon> 
													</li>
													<li class="list-inline-item selected">
															<mdb-icon *ngIf="review.rating == 0 || review.rating ==''  || review.rating <= 1" icon="star-o"></mdb-icon> 
															<mdb-icon *ngIf="review.rating > 2 || review.rating==2" icon="star"></mdb-icon> 
															<mdb-icon *ngIf="review.rating > 1 && review.rating <2" icon="star-half-o"></mdb-icon> 
													</li>
													<li class="list-inline-item selected">
															<mdb-icon *ngIf="review.rating == 0 || review.rating =='' || review.rating <= 2" icon="star-o"></mdb-icon> 
															<mdb-icon *ngIf="review.rating > 3 || review.rating==3" icon="star"></mdb-icon> 
															<mdb-icon *ngIf="review.rating > 2 && review.rating <3" icon="star-half-o"></mdb-icon> 
													</li>
													<li class="list-inline-item selected">
															<mdb-icon *ngIf="review.rating == 0 || review.rating =='' || review.rating <= 3" icon="star-o"></mdb-icon> 
															<mdb-icon *ngIf="review.rating > 4 || review.rating==4" icon="star"></mdb-icon> 
															<mdb-icon *ngIf="review.rating > 3 && review.rating <4" icon="star-half-o"></mdb-icon> 
													</li>
													<li class="list-inline-item selected">
															<mdb-icon *ngIf="review.rating == 0 || review.rating =='' || review.rating <= 4" icon="star-o"></mdb-icon> 
															<mdb-icon *ngIf="review.rating > 5 || review.rating==5" icon="star"></mdb-icon> 
															<mdb-icon *ngIf="review.rating > 4 && review.rating <5" icon="star-half-o"></mdb-icon> 
													</li>
												</ul>
							  				</div>
							  				<div class="name">
							  					<h5>{{review.heading}}</h5>
							  				</div>
							  				<div class="date">
							  					<span>{{review.time}}</span> , <span>{{review.user}}</span>
							  				</div>
							  				<div class="review-comment">
							  					<p>
							  						{{review.review}}
							  					</p>
							  				</div>
							  			</div>
							  		</div>
							  		
								  	</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar">
						<div class="widget map" >
								<h5 class="widget-header">Seller location</h5>
							<!--	<div class="btn-group" mdbDropdown>
										<button mdbDropdownToggle type="button" mdbBtn color="info" class="dropdown-toggle waves-light" mdbWavesEffect>
												{{product.orgname}}
										</button>
								
										<div class="dropdown-menu dropdown-primary">
											<a class="dropdown-item" href="/details?id={{seller.id}}"  *ngFor="let seller of productDetails; let i = index">{{seller.orgname}}</a>
										</div>
									</div>
								-->
								<agm-map [latitude]="seller.orgLat" [longitude]="seller.orgLon"  style="height: 200px" >
									<agm-marker	 [latitude]="seller.orgLat" [longitude]="seller.orgLon">
										<agm-info-window [disableAutoPan]="true" #infoWindow>

											<div>
												 <span class="green-text"> <b>₹ 5895 </b> </span> | {{seller.orgname}} ,
											</div>
											<div *ngIf="seller.distance">
												{{seller.distance}} Km away
											</div>
											<div>
												<a (click)="onClickInfoView({orgid:seller.orgid})" >Select </a>
											</div>
								
										</agm-info-window>
									</agm-marker>
								</agm-map>		
		
						</div>
					
				
					<!-- Rate Widget -->
					<div class="widget rate white-text" style="background :#c7003d">
						<!-- Heading -->
						
						<h5  class="widget-header text-center  white-text"> {{seller.rating}}
								<ul class="list-inline" *ngIf="!seller.rating">
										<li class="list-inline-item selected"><mdb-icon class="white-text" icon="star-o"></mdb-icon></li>
										<li class="list-inline-item selected"><mdb-icon class="white-text" icon="star-o"></mdb-icon></li>
										<li class="list-inline-item selected"><mdb-icon class="white-text" icon="star-o"></mdb-icon></li>
										<li class="list-inline-item selected"><mdb-icon class="white-text" icon="star-o"></mdb-icon></li>
										<li class="list-inline-item selected"><mdb-icon class="white-text" icon="star-o"></mdb-icon></li>	
								</ul>
								<ul class="list-inline" *ngIf="seller.rating">
										<li class="list-inline-item selected">
											<mdb-icon class="white-text" *ngIf="seller.rating == 0 || seller.rating ==''" icon="star-o"></mdb-icon> 
											<mdb-icon class="white-text" *ngIf="seller.rating > 1 || seller.rating==1" icon="star"></mdb-icon> 
											<mdb-icon class="white-text" *ngIf="seller.rating > 0 && seller.rating <1" icon="star-half-o"></mdb-icon> 
										</li>
										<li class="list-inline-item selected">
												<mdb-icon class="white-text" *ngIf="seller.rating == 0 || seller.rating ==''  || seller.rating <= 1" icon="star-o"></mdb-icon> 
												<mdb-icon class="white-text" *ngIf="seller.rating > 2 || seller.rating==2" icon="star"></mdb-icon> 
												<mdb-icon class="white-text" *ngIf="seller.rating > 1 && seller.rating <2" icon="star-half-o"></mdb-icon> 
										</li>
										<li class="list-inline-item selected">
												<mdb-icon class="white-text" *ngIf="seller.rating == 0 || seller.rating =='' || seller.rating <= 2" icon="star-o"></mdb-icon> 
												<mdb-icon class="white-text" *ngIf="seller.rating > 3 || seller.rating==3" icon="star"></mdb-icon> 
												<mdb-icon class="white-text" *ngIf="seller.rating > 2 && seller.rating <3" icon="star-half-o"></mdb-icon> 
										</li>
										<li class="list-inline-item selected">
												<mdb-icon class="white-text" *ngIf="seller.rating == 0 || seller.rating =='' || seller.rating <= 3" icon="star-o"></mdb-icon> 
												<mdb-icon class="white-text" *ngIf="seller.rating > 4 || seller.rating==4" icon="star"></mdb-icon> 
												<mdb-icon class="white-text" *ngIf="seller.rating > 3 && seller.rating <4" icon="star-half-o"></mdb-icon> 
										</li>
										<li class="list-inline-item selected">
												<mdb-icon class="white-text" *ngIf="seller.rating == 0 || seller.rating =='' || seller.rating <= 4" icon="star-o"></mdb-icon> 
												<mdb-icon class="white-text" *ngIf="seller.rating > 5 || seller.rating==5" icon="star"></mdb-icon> 
												<mdb-icon class="white-text" *ngIf="seller.rating > 4 && seller.rating <5" icon="star-half-o"></mdb-icon> 
										</li>
									</ul>
									
						</h5>
						<!-- Rate -->
						<div class="starrr">

							<h4 *ngIf="seller.reviews"  class= "white-text"><span>{{seller.reviews.length}} ratings</span> & <span>{{getReviewsLength(seller.reviews)}}</span></h4>
							<div *ngIf="!seller.rating" class= "white-text">
									No reviews & ratings yet
							</div>
						</div>
					</div>
					<!-- Safety tips widget -->
					<div class="widget disclaimer" >
						<h5 class="widget-header">Safety Tips</h5>
						<ul>
							<li>Meet seller at a public place</li>
							<li>Check the item before you buy</li>
							<li>Pay only after collecting the item</li>
							<li>Pay only after collecting the item</li>
						</ul>
					</div>
					<!-- Coupon Widget -->
					<div class="widget coupon text-center">
						<!-- Coupon description -->
						<p>Have a great product to post ? Share it with
							your fellow users.
						</p>
						<!-- Submii button -->
						<a href="" class="btn btn-transparent-white">Submit Listing</a>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<!-- Container End -->
</section>