<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<h1>Shop near You</h1>
					<p>Shop from the best shops near you<br> everyday in local communities around the world</p>
					<div class="short-popular-category-list text-center">
						<h2>Popular Category</h2>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href=""><i class="fa fa-shopping-basket"></i> Groceries</a></li>
							<li class="list-inline-item">
								<a href=""><i class="fa fa-laptop"></i> Electronics</a>
							</li>
							<li class="list-inline-item">
								<a href=""><i class="fa fa-plus-square"></i> Medical</a>
							</li>
							<li class="list-inline-item">
								<a href=""><i class="fa fa-cutlery"></i> Restaurants</a>
							</li>
							<li class="list-inline-item">
								<a href=""><i class="fa fa-coffee"></i> Cafe</a>
							</li>
						</ul>
					</div>
					
				</div>
				<!-- Advance Search -->
				<div class="advance-search">
					<form action="#">
						<div class="row">
							<!-- Store Search -->
							<div class="col-lg-6 col-md-12">
								<div class="block d-flex">
									<input type="text" class="loactionInput form-control mb-2 mr-sm-2 mb-sm-0" id="search" placeholder="Search your location">
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="block d-flex">
										<input type="search" id="form-autocomplete" class="form-control mdb-autocomplete">
								    <!--	<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="searchproducts" ng-model="searchText" ng-change="textChange(searchText)" placeholder="Search for products, brands & Sellers"> -->
									<!-- Search Button -->
									<script>$('#form-autocomplete').mdb_autocomplete({
											data: states
										});</script>
									<button class="btn btn-main">SEARCH</button>
								</div>
							</div>
						</div>
					</form>
					<div id="somecomponent" style="display:none;width: 500px; height: 400px;"></div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>Trending products</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam.</p>
				</div>
			</div>
		</div>
		<div class="row" *ngIf="trendings">
			<!-- offer 01 -->
			<div class="col-sm-12 col-lg-4"  *ngFor="let trending of trendings">
				<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<!-- <div class="price">$200</div> -->
							<a href="/details">
								<img class="card-img-top img-fluid" src="{{trending.image[0]}}" alt="Card image cap" style="height:275px; width:75%;margin-top: 20px;margin-left: 30px;">
							</a>
						</div>
						<div class="card-body">
							<h4 class="card-title"><a href="/details">{{trending.title}}</a></h4>
							<ul class="list-inline product-meta">
								<li class="list-inline-item">
									<a href=""><i class="fa fa-folder-open-o"></i>{{categoryNameMap[trending.subcategory]}}</a>
								</li>
								<li class="list-inline-item">
									<a href=""><i class="fa fa-calendar"></i>26th December</a>
								</li>
							</ul>
							<p class="card-text">{{trending.orgname}}</p>
							<div class="product-ratings">
								<ul class="list-inline">
									<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
									<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
									<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
									<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
									<li class="list-inline-item"><i class="fa fa-star"></i></li>
								</ul>
							</div>
						</div>
					</div>
				</div>



			</div>		
			
		</div>
	</div>
</section>



<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section title -->
				<div class="section-title">
					<h2>All Categories</h2>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p> -->
				</div>
				<div class="row" *ngIf="masterCategories">
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6" *ngFor="let mainCategory of masterCategories">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-laptop icon-bg-1"></i> 
								<h4>{{mainCategory.name}}</h4>
							</div>
							<ul class="category-list" *ngFor="let category of categories">
								<li><a href="/products?category={{category.id}}">{{category.tittle}} <span>93</span></a></li>
							</ul>
						</div>
					</div>
					 <!-- /Category List -->								
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>