<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<h1>Shop near You</h1>
					<p>Shop from the best shops near you<br> everyday in local communities around the world</p>
					<div class="short-popular-category-list text-center">
						<h2>Popular Category</h2>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a routerLink=""><i class="fa fa-shopping-basket"></i> Groceries</a></li>
							<li class="list-inline-item">
								<a routerLink=""><i class="fa fa-laptop"></i> Electronics</a>
							</li>
							<li class="list-inline-item">
								<a routerLink=""><i class="fa fa-plus-square"></i> Medical</a>
							</li>
							<li class="list-inline-item">
								<a routerLink=""><i class="fa fa-cutlery"></i> Restaurants</a>
							</li>
							<li class="list-inline-item">
								<a routerLink=""><i class="fa fa-coffee"></i> Cafe</a>
							</li>
						</ul>
					</div>
					
				</div>
				<!-- Advance Search -->
				<!--  -->
				
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>Offers</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam.</p>
				</div>
			</div>
		</div>
		<div class="row" *ngIf="offers">
			<!-- offer 01 -->
			<div class="col-sm-12 col-lg-4"  *ngFor="let trending of offers" (click)="openOffers(trending)">
				<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<!-- <div class="price">$200</div> -->
							
								<img class="card-img-top img-fluid" src="{{trending.image}}" alt="Image" style="height:275px; width:75%;margin-top: 20px;margin-left: 30px;">
							
						</div>
						<div class="card-body">
							<h4 class="card-title"></h4>
						</div>
					</div>
				</div>



			</div>		
			
		</div>
	</div>
</section>



<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section title -->
				<div class="section-title">
					<h2>All Categories</h2>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p> -->
				</div>
				<div class="row" *ngIf="masterCategories">
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6" *ngFor="let mainCategory of masterCategories">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-laptop icon-bg-1"></i> 
								<h4>{{mainCategory.name}}</h4>
							</div>
							<ul class="category-list" *ngFor="let category of categories">
								<li><a [routerLink]="['/products']" [queryParams]="{category:category.id, tittle: category.tittle}">{{category.tittle}}</a></li>
							</ul>
						</div>
					</div>
					 <!-- /Category List -->								
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>